@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ametist-color: #9b59b6; 
    --sunflower-color: #f1c40f; 
    --carrot-color: #e67e22; 
}

body {
    background: #e8e7e7;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container  {
    background: #fff;
    /* realizar atividade */
}

.menu ul {
    margin: 20px 10px 10px 10px;
}

.menu ul li {
    display: inline-block;
    padding: 10px;
}

.menu-responsivo {
    padding: 10px;
    font-size: 32px;
    /* realizar atividade */
}

.caixa-container {
    /* realizar atividade */
}


.caixa {
    min-height: 200px;

    margin: 10px;
    padding: 10px;

    text-align: center;
    line-height: 150px;

    background: #27ae60;
    color: #fff;

}